@import url(normalize.css);

* {
    margin: 0;
    padding: 0;

@font-face {
    font-family: "cookie";
    src: url("cookie-solid.svg");
}

}
.grid-container{
        margin: 0 auto;
        display: grid;
        gap: 20px;
    
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "a-header a-header a-header"
        "a-main a-main a-aside"
        "a-main a-main a-aside"
        "a-destacados a-destacados a-destacados"
        "a-destacados a-destacados a-destacados"
        "a-footer a-footer a-footer";
}
div {
    height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}

#letraheader{
    font-family: 'Dancing Script', cursive;
    color: #9E36FF;
    font-size: xx-large;
}

.logotip {
    width: 110px;
    cursor: pointer;
    
}

header {
    grid-area: a-header;
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    border: 2px;
    border-style: ridge;
    border-color:#E8A7FF;
    font-size: x-large;
    text-align: center;
    
    font-family: 'Big Shoulders Inline Display', cursive;
}
section{
    grid-area: a-destacados;
    padding: 10px;
}

aside {
    grid-area: a-aside;
}
main {
    grid-area: a-main;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 100px;
    font-size: x-large;
    background-color: #FFE4FE;
    margin-bottom: 100px;
}
footer {
    grid-area: a-footer;
    margin: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    flex-grow: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #A704E0 ;
    font-size: x-large;
    
}

body{
    background-image: url(/img/fondo.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

nav ul li a:hover {
    border-bottom: dotted 2px #ec5dff
}

main, aside, footer, section{
    width: 100%;
    min-height: 200px;
   
}

.perfilphoto {
    width: 300px;
    
}

section div img{
    display: inline;
    width: 25%;
}
.image1{
    width: 262px;
}

.image2{
    width: 418px;
}

/* Cookies */
#cookie-info {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 10% 10px 10%;
    background-color: #78FADC;
    border: solid 1px #53565a;
    font-family: 'Cookie', cursive;
    font-size: x-large;;
  }
  #cookie-info p {
    width: 80%;
  }
  #cookie-info button {
    color: white;
    padding: 10px 40px;
    line-height: 40px;
    font: bold 1.1rem "Open Sans", "Arial";
    border: solid 1px black;
    border-radius: 7px;
    background-color: black;
    font-family: 'Cookie', cursive;
    font-size: xx-large;
  }
  #cookie-info button:hover {
    color: yellow;
    cursor: pointer;
  }    
/* Fin cookies */



/* Newsletter */
table {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    border-collapse: collapse;
    padding: 10px 10px;
    font-family: 'Big Shoulders Inline Display', cursive;
}
#arriba {
    text-align: center;
    font-size: 12px;
    color:gray;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 10px;
}
#image1 {
    float: left;
}

#publicidad1 {
    text-align: right;
    color: #ababab;
    float: right;
    font-family: 'Josefin Sans', sans-serif;
}

#naranja1 {
    background-color:#ec5dff;

}

#mensaje {
    text-align: center;
    color: white;
    background-color: #ec5dff;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 10px;
}

#texto {
    background-color:#ec5dff;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
#image2 {
    background-color: #ec5dff;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#image3 {
    text-align: center;
}

#texto2 {
    text-align: left;
    color: purple;
    font-size: small;
    font-family: 'Josefin Sans', sans-serif;
}

#texto2 {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}

#stickers {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#image4 {
    text-align: center;
}

#gris_abajo {
    font-family: Arial, Helvetica, sans-serif;
    color: #8989ba;
    background-color: #d7faf8;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 10px;
}